.ms_header  {
    background-color: blue;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a   {
    text-decoration: none;
    color: white;
}

.ms_freelancer_img  {
    width: 10rem;
}

footer {
    color: white;
}

.ms_social_icon    {
    margin: 0.5rem;
}